*{
    padding: 0;
    margin: 0;
    vertical-align: middle;
    list-style: none;
    text-decoration: none;
}

.search{
    width: 100%;
    height: 40px;
    background-color: rgba(201, 21, 35, 1);
    overflow: hidden;
    position: fixed;
}
.soso{
    display: block;
    width: 20px;
    height: 20px;
    background: url('../images/jd-sprites.png') -60px -110px;
    background-size: 200px;
    position: absolute;
    top: 7px;
    left: 5px;
}
.logo{
    display: inline-block;
    width: 56px;
    height: 21px;
    background: url('../images/jd-sprites.png') 0 -109px;
    background-size: 200px;
    position: absolute;
    left: 7px;
    top: 7px;
}

.search_ipt{
    width: auto;
    height: 30px;   
    margin: 5px 78px;
    position: relative;
}
.search_ipt input{
    outline-style: none;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding-left: 25px;
}
.denglu{
    font-size: 18px;
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 7px;
    right: 11px;
}
.show img{
    width: 100%;
    margin-top: 40px;
}
.ngb{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.ngb div{
    width: 25%;
    text-align: center;
    margin:10px 0 5px;
}
.ngb img{
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
}
.ngb span{
    color: #666;
    font-size: 14px;
}
.seckcill{
    width: 100%;
}
.seckcill_right{
    float: left;
}
.seckcill_right span:first-child{
    display: block;
    width: 20px;
    height: 20px;
    background: url('../images/jd-sprites.png') -83px -110px;
    background-size: 200px;
    margin: 0 6px 0 6px;
    float: left;
}
.seckcill_right span:last-child{
   line-height: 20px;
   color: red;
   font-size: 15px;
}
.seckcill_left{
    float: right;
    margin-right: 10px;
}
.seckcill_left a {
    text-decoration: none;
    font-size: 14px;
    color: #666;
}
.seckcill_bot{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.seckcill_bot img{
    width: 110px;
    height: 110px;
}
._bot_span,
._bot_span2{
    display: block;
    text-align: center;
}
._bot_span{
    color: red;
    font-size: 14px;
}
._bot_span2{
    font-size: 13px;
    color: #666;
}
.live{
    width: 100%;
    position: relative;
}
.img_box img{
    width: 100%;
}
.live ul{
    width: 100%;
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 10px 10px
}
.lis_1,
.lis_2{
    width: 50%;
}
.left_live{
    width: 100%;
}
.right_live{
    display: block;
    width: 100%;
}
.ref .ref_ul{
    width: 100%;
    display: flex;
}
.ref .ref_ul li{
    width: 33%;
}
.ref .ref_ul li img{
    width: 100%;
}
.ref_ul2 ,
.ref_ul3 {
    width: 100%;
    display: flex;
}
.ref_ul2 li,
.ref_ul3 li  {
    width: 50%;
}
.ref_ul2 li img,
.ref_ul3 li img{
    width: 100%;
}
.adv{
    background-color: rgb(241, 231, 231);
    padding: 10px 10px;
}
.adv img{
    width:100%;
}
.sup{
    width: 100%;
}
.sup_div{
    padding: 5px 5px;
}
.sup_div span{
  color:#f25353;
}
.sup_ul{
    width: 100%;
    display: flex;
}
.sup_ul li{
    width: 50%;
}
.sup_ul li img{
    width: 100%;
}
.sup_ul2{
    width: 100%;
    display: flex;
}
.sup_ul2 li{
    width: 50%;
}
.sup_ul2 li img{
    width: 100%;
}
.adv3{

    padding: 5px 5px;
    background-color: azure;
}
.adv3 img{
    width: 100%;
}
.theme{
    width: 100%;
}
.theme_span{
    padding: 5px 5px;
}
.theme_span span{
    color: #f25353;
}
.theme_ul
{
    width: 100%;
    display:flex;
}
.theme_ul li
{
    width: 50%;
}
.theme_ul li img{
    width: 100%;
}
.theme_ul li:nth-child(2) img:nth-child(2),
.theme_ul li:nth-child(2) img:nth-child(3){
    width: 48%;
}
.theme_ul2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.theme_ul2 li{
    width: 100%;
}
.theme_ul2 li img{
    width: 24%;
}
.adv4{
    padding: 5px 5px;
    background-color: azure;
}
.adv4 img{
    width: 100%;
}
.product{
    width: 100%;
}
.product_div{
    padding: 5px 5px;
}
.product_div span{
    color: #f25353;
}
.product_ul{
    width: 100%;
    display: flex;
}
.product_ul li{
    width: 33%;
}
.product_ul li img{
    height: 100%;
    width: 100%;
}
.adv5{
    background-color: antiquewhite;
    padding: 5px 5px;
}
.adv5 img{
    width: 100%;
}
.lick{
    width: 100%;
}
.lick_top{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.lick_top span:first-child{
    color: red;
    display: block;
    padding: 5px 5px;
}
.lick_top a span{
    font-size: 14px;
}
.lick_bg{
    width: 18px;
    height: 18px;
    background: url('../images/icon-login.png');
    background-size: 18px;
    position: absolute;
    right: 101px;
    top: 6px;
}
.lick_ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.lick_ul li{
    padding: 10px 10px;
    width: 50%;
    box-sizing: border-box;
}
.lick_ul li img{
    width: 100%;
}
.lick_span{
    display: block;
    font-size: 14px;
    color: #666;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.lick_span2{
    color:red;
    font-size: 12px;
}
.lick_span3{
    display: inline-block;
    border: 1px solid #666;
    font-size: 8px;
    color: #666;
    float: right;
    margin-top: 5px;
}
.load{
    width: 100%;
    padding: 5px 0px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    background-color: #ccc;
    text-align: center;
}
.load span{

    font-size: 8px;
    color: #666;
}
.rest{
    width: 100%;
}
.rest ul {
    width: 100%;
    display: flex;
    padding: 10px 56px;
    box-sizing: border-box;
    border-bottom: 1px solid #666;
    justify-content: space-around;
}
.rest ul li{
    float: left;
    border-left: 1px solid #666;
    padding: 0px 10px;
    font-size: 8px;
    color: #666;
    text-align: center;
}

.rest ul li:first-child{
    border:none;
}
.fec{
    width: 100%;
    border-bottom:1px solid #666;
}
.fec_ul{
    width: 100%;
    padding: 18px 0px;
    display: flex;
    justify-content: space-around;
}
.fec_ul li span:nth-child(1){
    display: block;
    width: 33px;
    height: 33px;
    margin: 0 auto;
    
}
.fec_ul li span:nth-child(2){
    font-size: 8px;
    color: #666;
}
.fec_bg1{
    background: url('../images/jd-sprites.png') -120px -70px;
    background-size: 200px;
}
.fec_bg2{
    background: url('../images/jd-sprites.png') -40px -70px;
    background-size: 200px;
}
.fec_bg3{
    background: url('../images/jd-sprites.png') -80px -70px;
    background-size: 200px;
}
.cop{
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #666;
}
.cop span{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 8px;
    color: #666;
}
.tool{
    background: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0px;
}
.tool img{
    width: 60px;
    height: 45px;
}

